/* Basic styles */
.live-viewer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 0 20px;
  font-family: Arial, sans-serif;
}

.live-viewer-container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 0 20px;
  font-family: Arial, sans-serif;
  height: 500px;
  margin-top: 40px;
}

.audio-player {
  width: 100%;
  max-width: 600px;
}

.speaker-selection {
  margin-top: 15px;
  text-align: center;
}

.speaker-selection label {
  font-size: 1rem;
  margin-right: 10px;
}

.speaker-selection select {
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.join-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.join-btn:hover {
  background-color: #45a049;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-join {
  background-color: #16A085;
  border: #16A085;
  border-radius: 25px;
  color: white;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .audio-player {
    width: 90%;
  }

  .speaker-selection label {
    font-size: 0.9rem;
  }

  .join-btn {
    font-size: 1rem;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .audio-player {
    width: 100%;
  }

  .speaker-selection label {
    font-size: 0.8rem;
  }

  .join-btn {
    font-size: 0.9rem;
    padding: 6px 12px;
  }
}

.selected-language {
  border-radius: 25px;
  border: 1px solid #16A085;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  align-items: center;
  display: flex;
}

.box-selected-language {
  width: 100%;
  border: 1px solid outset;
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 20px;
}

.live-viewer-title {
  display: contents;
  text-align: center;
}

.long-text {
  position: absolute;
  height: 100px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  /* z-index: 2; */
  width: 90%;
}

.trans-box {
  width: 100%;
  border: 1px solid outset;
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 10px;
}

.trans-text-box {
  height: 150px;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.name-tour {
  font-size: 25px;
  font-weight: bold;
}

.audioViewer {
  display: flex;
  justify-content: space-between;
  /* width: 35%; */
  margin-bottom: 15px;
}

.playButtonViewer {
  background-color: var(--page-color);
  color: #FAFAFA;
  border-radius: 25px;
  font-size: 16px;
  padding: 11px 15px;
  cursor: pointer;
  border: 1px solid transparent;
  margin-right: 10px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.pauseButtonViewer {
  background-color: #FAFAFA;
  color: var(--page-color);
  border-radius: 25px;
  font-size: 16px;
  padding: 11px 15px;
  cursor: pointer;
  border: 1px solid var(--page-color);
  margin-right: 10px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  text-decoration: none
}

.startText {
  margin-left: 10px;
  font-size: 20px;
}

.soundButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--page-color);
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  text-decoration: none;
}

.start-button {
  background-color: #28a745;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.sound-button {
  background-color: #28a745;
  color: white;
  font-size: 20px;
  padding: 15px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.start-button:hover,
.sound-button:hover {
  opacity: 0.8;
}