.live-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 0 20px;
    font-family: Arial, sans-serif;
}

.titleSubLive {
    border: 1px solid #E57A00;
    color: #E57A00;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 700;
    padding: 7px 15px;
}

.audio-sub {
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.box-start-live-session {
    width: 100%;
    border: 1px solid outset;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-bottom: 20px;
    background-color:#FAFAFA;

}

.mic-button {
    display: flex;
    /* justify-self: center; */
    justify-content: center;
    align-items: center;
}